* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
header {
    background-color: #38ada9;
}

.nav-bar {
    width: 1400px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > * {
    padding-right: 10px;
}

.menu {
    list-style: none;
    padding: 15px 0;
}

main {
    background-color: #78e08f;
}

.main {
    color: aliceblue;
    height: 100%;
    width: 1400px;
    margin: 0 auto 80px;
}

.title {
    font-size: 32px;
}

.teams {
    display: flex;
    color: black;
}

.avatar-user {
    width: 250px;
    border-radius: 10px;
}

.user {
    margin: 25px;
    background-color: #561844;
    width: 400px;
    padding: 25px;
    border-radius: 15px;

    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100px);
    }
}

footer {
    text-align: center;
    display: flex;
    background-color: #38ada9;
    height: 80px;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
}